# GraphQL Endpoint for Filecoin Payments Subgraph
NEXT_PUBLIC_SUBGRAPH_URL_MAINNET=https://api.goldsky.com/api/public/<PROJECT_ID>/subgraphs/<SUBGRAPH_NAME>/<SUBGRAPH_VERSION/SUBGRAPH_TAG>/gn
NEXT_PUBLIC_SUBGRAPH_URL_CALIBRATION=https://api.goldsky.com/api/public/<PROJECT_ID>/subgraphs/<SUBGRAPH_NAME>/<SUBGRAPH_VERSION/SUBGRAPH_TAG>/gn
NEXT_PUBLIC_SQUID_INTEGRATOR_ID=filecoin-testing-94a4a25a-d40b-41cb-b148-e96098862
NEXT_PUBLIC_PRIVY_APP_ID=cmtkfb83p04du0bk0kofldq4e
NEXT_PUBLIC_PRIVY_CLIENT_ID=client-WY6d6QKpTJMyLAHudjThbGxFZiCsX4oQwkvMVSLRUKmLf
# Set to true only when testing Privy's fiat onramp sandbox.
NEXT_PUBLIC_PRIVY_ONRAMP_SANDBOX=false
NEXT_PUBLIC_NOTIFICATIONS_ELIGIBLE_NETWORKS=mainnet
NEXT_PUBLIC_NOTIFICATIONS_API_URL=https://placeholder.invalid/notifications
